<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pocket Change.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A27BF261E0A01B100146EEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A27BF3D1E0A01B100146EEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A27BF481E0A01B100146EEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
